*{
	margin: 0;
	padding: 0;
   font-family: 'Roboto', sans-serif;
}

html,
body {
  height: 100%;
  /*font-family: 'Roboto', sans-serif;*/
}

.wrapper {
   /*min-height: 100%;*/
   min-height: 100vh;
   display: flex;
	flex-direction: column;
   background: #F5F7FB;

}

.content {
	/*flex: 1 1 auto;*/
   flex: 1;
   flex-grow: 1;
   
}

p{
   /*font-family: 'Roboto', sans-serif;*/
}

 .blockBody{
   background: #FFFFFF;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

 .headerBody{
    height: 155px;
    /*background: #FFFFFF;*/
    /*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/
    /*display:table;*/
    
 }

.headerLogo{
    width: 105px;
    height: 105px;
    /*filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));*/
    }

 .headerTitle{
    /*font-family: 'Roboto', sans-serif;*/
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #000000;
 }


 .frame{
    display: flex;
    display: inline-flex; /*WiHe by inner content*/
    align-items: center; }

    .frameWOIF{
      display: flex;
      align-items: center; }


 .mtmb{margin-top: 0;
    margin-bottom: 0; }

 .pad{padding: 10px;}


 .flex-container {
    display: flex;
    flex-wrap: wrap; 
 }
  
 .flex-element {
    text-align: center;
 }
  
 input[type="submit"] {
    background: #6B9AFF;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
     }

 .btn {
    background: #6B9AFF;/*6B9AFF*/
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0;
 }

 .imgbutton{
   width: 35px;
   height: 35px;
  }

 .btnlikelink {
   width: 200px;
   height: 65px;
   background: none;
   border: none;
   padding: 0!important;
   box-shadow: none;
   color:black;
   /*color: #069;
   text-decoration: underline;
   cursor: pointer;*/
}


   

  




